@import url('https://fonts.googleapis.com/css2?family=Acme&family=Inconsolata&family=Roboto+Mono&display=swap');

:root {
  --typewriterSpeed: 6s;
}

body {
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: 'Acme', sans-serif;
}

.wrapper {
  height: 100vh;
  width: 100vw;

  background: linear-gradient(-45deg, #353535, #3c6e71, #6c584c, #284b63);
  background-size: 400% 400%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  animation:
    backgroundTransition 8s ease-in-out infinite;
}

h1 {
  font-size: clamp(1rem, 3vw + 1rem, 4rem);
  position: relative;
  text-transform: uppercase;
  width: max-content;
  letter-spacing: 0.25rem;
}

h2 {
  text-transform: uppercase;
  letter-spacing: 0.25rem;
}

.social-media {
  margin-top: 1rem;
  display: flex;
}

a {
  text-decoration: none;
  color: #fff;

  font-size: 1.5rem;
  padding: 1rem 4rem;
  border: 1px solid #fff;

  min-width: 4rem;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: 0.5s cubic-bezier(0.55, 0.025, 0.675, 0.97);
}

a:hover {
  color: #1f363d;
  background-color: #ebf7f9;
}

/* Keyframes */
@keyframes typewriter {
  to {
    left: 100%;
  }
}

@keyframes blink {
  to {
    background: transparent;
  }
}

@keyframes backgroundTransition {
  0% {
    background-position: 0% 80%;
  }

  50% {
    background-position: 80% 100%;
  }

  100% {
    background-position: 0% 90%;
  }
}

/* Responsive */

@media (max-width: 767px) {
  :root {}

  .wrapper {
    height: 100vh;
    width: 100vw;

  }

  .wrapper #text {
    text-align: center;
    width: auto;
    font-size: 1.5rem;

    margin-left: auto;
    margin-right: auto;
  }

  .wrapper #description {
    align-items: center;
    text-align: center;
    font-size: 1rem;

    margin-left: auto;
    margin-right: auto;
  }

  .social-media {
    display: flex;
    justify-content: space-around;

    flex-wrap: wrap;
    flex-direction: column;

    margin-top: 4rem;
  }

  .social-media a {
    margin: .5rem;
    font-size: 1.5rem;
  }

}